[submodule "src/z8lua"]
	path = src/z8lua
	url = https://github.com/simulatedsimian/z8lua.git
[submodule "src/utf8-util"]
	path = src/utf8-util
	url = https://github.com/simulatedsimian/utf8-util.git
